/*
INFO: 
	project: checkers
	browsers: opera/chrome/FF/ie9/safari
	width: 1000 + scroll
	columns: ?
	markup: Sergey Kalinin 12/2015 (prozaik81-2@yandex.ru)
	use: jq
	desc: 	
	version 1
*/	

/*************************************************************************************************************** COMMON_STYLES */
html, body, div, h1, h2, h3, h4, h5, h6, a, a img, p, ul, ol, li, span, fieldset , form, dl, dd, dt, table, tr, td, img, input{ 
	border: none;
	margin: 0; 
	outline: none;	
	padding: 0;
	overflow: hidden;
}

html{
    height:100%;	
	background: #000;
}

body{	
    height:100%;	
	min-width: 1250px;
	position: relative;

	
	font: normal 8px arial, sans-serif;
	color: #000;
}	

ul{
	list-style-type: none;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus { outline: none; }

textarea{
	resize: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	zoom:1;
}

.clear{
	clear: both;
}	
	
.hide{
	display: none;
}

.wrapped{
	width: 1000px;
	margin: 0 auto;
}

input::-webkit-input-placeholder {
	color: #0096ef;
}

input:-moz-placeholder {
	color: #0096ef;
}

/*************************************************************************************************************** GLOBAL_layout */

/*************************************************************************************************************** GLOBAL_blocks */
.board{
	display: inline-block;
	position: relative;
	overflow: hidden;
}

.tank{
	position: absolute;
	background: #f00;

}

#tankId_0{
	background: cyan;
}

.bullet{
	position: absolute;
	border-radius: 6px;
	display: inline-block;
}

.wall{
	position: absolute;
	background: magenta;
	background: url('../images/wall.png') left top no-repeat;
	background-size: contain;
}